@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808080;

}

h1, h2 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

#draw-btn {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    font-family: 'Bungee Shade', cursive;
    font-size: 48px;
    text-align: center;
    margin: 20px 0;
    background: linear-gradient(90deg, #f72585, #b5179e, #7209b7, #3a0ca3);
    -webkit-background-clip: text;
    color: transparent;
}

.log-entry {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}

#logs {
    color: #800000;
}
